<!DOCTYPE html>
<html>

<head>
      <!-- loading the folder static -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HMS</title>
    {% include 'links.html' %}
</head>

<body>
   {% include 'navbar.html' %}
    <div class="login-dark" style="background-image: url(&quot;{% static 'img/star-sky.jpg' %}&quot;);">
        <form method="post">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">New user? Create Account</a>
        </form>
    </div>
   {% include 'scripts.html' %}
</body>

</html>